<p>
    create-article works!
</p>

<div>
    <div>
        Create Article Form
    </div>
    <form class="row" (ngSubmit)="createArticle()">
        <input type="text" [(ngModel)]="newArticle.title" name="title" placeholder="Title">
        <input type="text" [(ngModel)]="newArticle.imgUrl" name="imgUrl" placeholder="Image Url">
        <input type="text" [(ngModel)]="newArticle.content" name="content" placeholder="Content">
        <button type="submit" class="btn-light">
      Create
      </button>
    </form>
</div>

<div>
    <ol>
        <li *ngFor="let article of articles">
            <a [routerLink]="['/article', article.id]">
        {{ article.title }}
      </a>
        </li>
    </ol>
</div>