<div class="category">
  <!--<div class="image-wrapper">
    <img [src]="category?.imgUrl" [alt]="category?.name">
  </div>-->

  <h2>
    {{ category?.name }}
  </h2>
  <div>
    <div *ngFor="let recipe of category?.recipes">
      <!--<a class="image-wrapper" href="">-->
      <div class="image-wrapper">
        <img [src]="recipe?.imageUrl" [alt]="recipe?.title">
      </div>
      <h2>
        <a [routerLink]="['/recipe', recipe._id]">
            {{ recipe.title }}
        </a>
      </h2>
      <!--</a>-->
    </div>
  </div>
</div>


<div class='col-md-3'>
  <a class='btn btn-secondary' (click)='onBack()' style='width:80px'>
    <i class='glyphicon glyphicon-chevron-left'></i> Back
  </a>
</div>