<p>
  article-detail works!
</p>

<!--rauta triabva da e asinhronen, ne taka-->
<div class='panel-footer'>
        <a 
          class='btn btn-secondary'
          style='width:80px'
          (click)="onEdit()"
        >
            <i class='glyphicon glyphicon-chevron-left'></i> Edit
        </a>
</div>
<div class='panel-footer'>
        <a class='btn btn-secondary' (click)='onDelete()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Delete
        </a>
</div>

<!--trabva da go napravia asinhronno-->
<div>                
  <img src="{{ article?.imgUrl }}" alt="{{ article?.title }}" width="50px">
</div>
<div>
  Ttle:  {{ article?.title }}
</div>
<div>
  Content:  {{ article?.content }}
</div>

<div class='panel-footer'>
        <a class='btn btn-secondary' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
</div>