.row {
    margin: 50px 0;
}

.panel a {
    height: 170px;
}

.article {
    margin-bottom: 20px;
}

.article:after {
    content: "";
    display: block;
    clear: both;
}

h2 {
 font-size: 1.5em;
}

.image-wrapper {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 50%;
}

img {
    height: 100%;
}