<div>
    <form class="row" [formGroup]="createRecipeForm" novalidate (ngSubmit)="createRecipe()">
        <label for="recipeTitle">Име</label>
        <input id="recipeTitle" type="text" [(ngModel)]="newRecipe.title" formControlName="title" placeholder="Име">
        <br>
        <small *ngIf="!createRecipeForm.controls.title.valid" class="text-danger">
            Името е задължително
        </small>
        <br>

        <label for="recipeCookTime">Време за приготвяне</label>
        <input id="recipeCookTime" type="text" [(ngModel)]="newRecipe.cookingTimeInMinutes" formControlName="cookingTimeInMinutes" placeholder="Време за приготвяне [мин]">
        <br>
        <small *ngIf="!createRecipeForm.controls.cookingTimeInMinutes.valid" class="text-danger">
            Времето за готвене е задължително число между 1 и 600 (минути)
        </small>
        <br>

        <label for="recipePreparation">Начин на приготвяне</label>
        <br>
        <textarea id="recipePreparation" [(ngModel)]="newRecipe.preparation" formControlName="preparation" placeholder="Начин на приготвяне">
        </textarea>
        <small *ngIf="!createRecipeForm.controls.preparation.valid" class="text-danger">
            Начинът на приготвяне е задължително между 10 и 2000 символа
        </small>
        <br>

        <h3>Снимки:</h3>
        <div formArrayName="imageUrls">
            <div *ngFor="let imageUrl of createRecipeForm.controls.imageUrls.controls; let i=index">
                <div>
                    <span>Линк към снимка {{i + 1}}</span>
                    <button type="button" *ngIf="createRecipeForm.controls.imageUrls.controls.length > 1" (click)="removeImageUrl(i)">Премахни</button>
                </div>

                <div [formGroupName]="i">
                    <image-url [groupImageUrl]="createRecipeForm.controls.imageUrls.controls[i]"></image-url>
                </div>
            </div>
        </div>
        <button type="button" (click)="addImageUrl()" style="cursor: default">Добави линк към снимка</button>
        <br>
        <h3>Съставки:</h3>
        <div formArrayName="ingredients">
            <div *ngFor="let ingredient of createRecipeForm.controls.ingredients.controls; let i=index">
                <div>
                    <span>Съставка {{i + 1}}</span>
                    <button type="button" *ngIf="createRecipeForm.controls.ingredients.controls.length > 1" (click)="removeIngredient(i)">Премахни</button>
                </div>
                <div [formGroupName]="i">
                    <recipe-ingredient [groupIngredient]="createRecipeForm.controls.ingredients.controls[i]"></recipe-ingredient>
                </div>
            </div>
        </div>
        <button type="button" (click)="addIngredient()" style="cursor: default">Добави съставка</button>
        <br>
        <h3>Категории:</h3>
        <label *ngFor="let category of allCategories">
                <input type="checkbox" (click)="selectCategory($event)" value="{{category._id}}">
                {{category.name}}
                <br>
        </label>
        <br>
        <button type="submit" [disabled]="!createRecipeForm.valid" class="btn-light">
          Create
        </button>
    </form>
</div>

<div>
    <ol>
        <li *ngFor="let recipe of recipes">
            <a [routerLink]="['/recipe', recipe._id]">{{recipe.title}}</a>
        </li>
    </ol>
</div>