<div class='panel-footer'>
        <a class='btn btn-secondary' [routerLink]="['/article', 'create']" style='width:120px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Create Article
        </a>
</div>

<div class="row">
    <div class="col-md-2">Filter by:</div>
    <div class="col-md-4">
        <input 
          type="text"
          [(ngModel)]="listFilter"
          placeholder="Filter" />
    </div>
</div>

<div *ngFor="let article of articles | articleFilter: listFilter">
  <div>
    Title:
    <a [routerLink]="['/article', article._id]">
      {{ article.title }}
    </a> 
  </div>
  <div>
    Image:  <img src="{{ article.imgUrl }}" alt="{{article.title}}" width="50px">
  </div>
  <div>
    Content: {{article.content}}
  </div>
  
</div>