<div class='panel-footer'>
        <a class='btn btn-secondary' [routerLink]="['/article', 'create']" style='width:120px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Create Article
        </a>
</div>

<div *ngFor="let article of articles">
  <div>
    Title:
    <a [routerLink]="['/article', article._id]">
      {{ article.title }}
    </a> 
  </div>
  <div>
    Image:  <img src="{{ article.imgUrl }}" alt="{{article.title}}" width="50px">
  </div>
  <div>
    Content: {{article.content}}
  </div>
  
</div>