 <div *ngIf="isUserLogged" class="row header">
    <div class="col-md-3">
        <a [appHighlight]="addColor"
            class='btn btn-secondary'
            [routerLink]="['/recipe', 'create']">
            <i class='glyphicon glyphicon-chevron-left'></i> Add Recipe
        </a>
    </div>
    <div class="col-md-9">
        <label for="filterInput">Filter by:</label>
        <input type="text" [(ngModel)]="listFilter" placeholder="Filter" />
    </div>
</div>

<div class="row">
    <div *ngFor="let recipe of recipes | recipeFilter: listFilter" class="recipe col-lg-3 col-sm-6" >
        <div [appHover]="hoveredImgStyle" class="image-wrapper">
            <img src="{{recipe.imageUrls[0]}}" alt="{{recipe.title}}">
        </div>
        <h2>
            <a [routerLink]="['/recipe', recipe._id]">
                {{ recipe.title }}
            </a>
        </h2>
    </div>
</div>