<div class="row">
    <div class="col-md-2">Filter by:</div>
    <div class="col-md-4">
        <input type="text" [(ngModel)]="listFilter" placeholder="Filter" />
    </div>
</div>
<div *ngFor="let recipe of recipes | recipeFilter: listFilter">
    <div>
        <img [appHover]="hoveredImgWidth" src="{{recipe.imageUrls[0]}}" alt="{{recipe.title}}">
        <a [routerLink]="['/recipe', recipe._id]"> {{ recipe.title }}</a>
    </div>
</div>
<div class='panel-footer'>
    <a [appHighlight]="addColor" class='btn btn-secondary' [routerLink]="['/recipe', 'create']">
        <i class='glyphicon glyphicon-chevron-left'></i> Add Recipe
    </a>
</div>