 <div class="row header">
    <div class="col-md-3">
        <a class="btn btn-success"
            *ngIf="isUserLogged"
            [routerLink]="['/category', 'create']"
            style="width:150px">
            <i class='glyphicon glyphicon-chevron-left'></i> Create Category
        </a>
    </div>
    <!--<div class="col-md-9">
        <label for="filterInput">Filter by:</label>
        <input id="filterInput" type="text" [(ngModel)]="listFilter" placeholder="Filter" />
    </div>-->
</div>
<div class="row">
    <div *ngFor="let category of categories" class="category col-lg-3 col-sm-6" >
        <div class="image-wrapper">
            <img src="{{ category.imgUrl }}" alt="{{category.name}}">
        </div>
        <h2>
            <a [routerLink]="['/category', category._id]">
                {{ category.name }}
            </a>
        </h2>
    </div>
</div>